.clear {
  clear: both;
}
/* Layout */
#main {
  padding-top: 40px;
}
.navbar-inner {
  background-color: #bbbbbb;
  background-image: none;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: none;
}
.navbar .nav > li > a {
  color: #000000;
  float: none;
  line-height: 19px;
  padding: 10px 10px 11px;
  text-decoration: none;
  text-shadow: none;
}
.navbar .brand {
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 8px;
}
.brand #logo {
  border: 1px solid white;
  vertical-align: middle;
  margin-right: 4px;
}
.navbar .btn, .navbar .btn-group {
  margin-top: 6px;
}
.navbar #action-items {
  position: relative;
  width: 165px;
  margin: 0;
  padding: 0;
}
.navbar #action-items .btn-group {
  background: #BBBBBB;
  border-radius: 0 0 6px 6px;
  padding: 6px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.input-append button.add-on {
  height: 28px;
}
.input-append button.add-on i {
  margin-top: 1px;
}
.input-append input {
  margin: 0;
}
#email-signup-form {
  margin: 6px 0 0 0;
}
#footer-nav ul {
  display: inline-block;
}
/* Content Page */
h1.title {
  font-size: 36px;
  line-height: 46px;
  margin-top: 12px;
}
#right-side {
  float: right;
}
#left-side {
  padding-top: 46px;
}
.sidebar-nav {
  margin-top: 12px;
  padding: 8px 0;
}
.breadcrumb {
  background-color: transparent;
  background-image: none;
  border: none;
  margin: 0;
  padding-left: 0;
}
.well {
  border: 1px solid #999;
}
/* Homepage: Verified Voting; */
.hero-thumb {
  height: 180px;
  width: 260px;
  background-color: #ffffff;
}
.hero-unit {
  background-color: #F5F5F5;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 20px;
}
.hero-unit p {
  text-align: justify;
}
#hero-logo {
  float: left;
  margin-right: 18px;
}
.hero-read-more {
  float: right;
  display: block;
}
