<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    
    <img id="hero-logo" alt="" src="http://placehold.it/160x120&text=fancy+graphic">
    <div id="hero-content">
      <h1>Verified Voting</h1>
      <p>VerifiedVoting.org champions reliable and publicly verifiable elections in the United States. The right to have one's vote counted properly is a cornerstone of our democratic system. Making sure that our election systems are reliable and publicly verifiable enfranchises voters and increases public confidence and participation in our political process. </p>
      <a class="hero-read-more">Read about our mission and sister organizations &raquo;</a>
    </div>
    <div class="clear"></div>
</div>

<div class="row">
  <div class="span9">
<!-- Example row of columns -->
    <div class="row">
      <div class="span3">
          <h2>Verifier Database</h2>
          <div id="sidebar-map" class="sidebar-nav">
            <img src="/img/map.png" />
            <p>What equipment do Americans use to cast ballots? See the <a>Verifier Map</a> for detailed information on voting systems used in each state and county.</p>
          </div>
      </div>
      <div class="span3">
        <h2>Search the Archives</h2>
        <form class="well form-search">
          <input class="input-medium search-query" type="text" value="Search the Archives">
          <button class="btn" type="submit">Go</button>
        </form>
        
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p>
      </div>
      <div class="span3">
        <h2>Important Links</h2>
        <ul>
          <li>Election Day Problems?<br />Call 1-866-OUR-VOTE</li>
          <li>Find Your Polling Place:
            <a href="http://www.vote411.org/pollingplacebystate.php">Vote411.org</a>
          </li>
          <li>Questions? 
            <a href="http://www.verifiedvotingfoundation.org/contactus.php">Contact Us</a>
          </li>
          <li>
            <a href="http://votetrustusa.org/">Vote Trust USA</a> - national resource for state-based organizations supporting verifiable elections, a Verified Voting Foundation project
          </li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="span3">
        <a class="thumbnail" href="#">
          <img alt="" src="http://placehold.it/260x180">
        </a>
      </div>
      <div class="span6">
        <h1>Example Title for callout with thumbnail</h1>
        <div class="article-metadata">
          <span class="date">
            08/10/2012
          </span>
          <span class="divider">,</span>
          <span class="name"><a>Author Name</a></span>
          <span class="divider">,</span>
          <span class="organization"><a>Organization</a></span>
        </div>
        <p>Irony ethical brooklyn, williamsburg readymade dolor ut food truck brunch mustache. Shoreditch cardigan sed incididunt exercitation, you probably haven't heard of them scenester PBR eiusmod nesciunt. Banksy laborum duis, cred ullamco sint carles mustache lo-fi mlkshk irony nulla. Twee brunch assumenda whatever stumptown, ad tattooed sed 3 wolf moon iphone nesciunt. Twee american apparel etsy DIY voluptate keffiyeh, banh mi minim nostrud. Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <div class="callout-options">
          <a class="read-more">read more &raquo;</a>
        </div>

      </div>
    </div>

    <hr>
    <div class="row">
      <div class="span9">
        <h1>Example Title for callout without a thumbnail</h1>
        <div class="article-metadata">
          <span class="date">
            08/10/2012
          </span>
          <span class="divider">,</span>
          <span class="name"><a>Author Name</a></span>
          <span class="divider">,</span>
          <span class="organization"><a>Organization</a></span>
        </div>
        <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
        <div class="callout-options">
          <a class="read-more">read more &raquo;</a>
        </div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="span3">
        <a class="thumbnail" href="#">
          <img alt="" src="http://placehold.it/260x180">
        </a>
      </div>
      <div class="span6">
        <h1>Example Title for callout with thumbnail</h1>
        <div class="article-metadata">
          <span class="date">
            08/10/2012
          </span>
          <span class="divider">,</span>
          <span class="name"><a>Author Name</a></span>
          <span class="divider">,</span>
          <span class="organization"><a>Organization</a></span>
        </div>
        <p>Irony ethical brooklyn, williamsburg readymade dolor ut food truck brunch mustache. Shoreditch cardigan sed incididunt exercitation, you probably haven't heard of them scenester PBR eiusmod nesciunt. Banksy laborum duis, cred ullamco sint carles mustache lo-fi mlkshk irony nulla. Twee brunch assumenda whatever stumptown, ad tattooed sed 3 wolf moon iphone nesciunt. Twee american apparel etsy DIY voluptate keffiyeh, banh mi minim nostrud. Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <div class="callout-options">
          <a class="read-more">read more &raquo;</a>
        </div>
      </div>
    </div>
    
  </div>
  <div class="span3">

    <h2><a href="http://thevotingnews.com/">The Voting News</a></h2>

    <div class="row">
      <div class="span3">
        <div class="title">
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
          <h3>Example blog title</h3>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="title">
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
          <h3>Example blog title</h3>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="title">
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
          <h3>Example blog title</h3>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="title">
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
          <h3>Example blog title</h3>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

    <hr>

    <h2><a href="http://thevotingnews.com/">Verified Voting Blog</a></h2>

    <div class="row">
      <div class="span3">
        <div class="title">
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
          <h3>Example blog title</h3>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="title">
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
          <h3>Example blog title</h3>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="title">
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
          <h3>Example blog title</h3>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <div class="title">
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
          <h3>Example blog title</h3>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

  </div>

</div>