<div class="row">
  <div class="span9">
    
    <div class="row full-only">
      <div class="span9">
        <img id="slideshow" alt="" src="http://placehold.it/870x480&text=slideshow">
      </div>
    </div>


    <div class="row">
      <div class="span9">
          
        
        <form id="mobile-search" class="mobile-only well form-search" action="email5.php" method="post">
          <input name="Email" placeholder="Search" id="email-signup" class="input-medium search-query" type="text">
          <button class="btn" type="submit">Go</button>
        </form>
        

        <div class="callout mobile-only">
          <a class="callout-title">
            <h1>&raquo;&nbsp;Donate</h1>
          </a>
        </div>
        <div class="callout mobile-only">
          <a class="callout-title">
            <h1>&raquo;&nbsp;Take Action</h1>
          </a>
        </div>
        <div id="callout-group">
          <div class="callout">
            <a class="callout-title" data-toggle="collapse" data-parent="#callout-group" data-target="#callout-content-0">
              <h1>&raquo;&nbsp;Why can't I vote online?</h1>
            </a>
            <div id="callout-content-0" class="callout-content collapse">
              <div class="callout-content-padder">
                <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
                <div class="callout-options">
                  <a class="read-more">read more &raquo;</a>
                </div>
              </div>
            </div>
          </div>
          <div class="callout">
            <a class="callout-title" data-toggle="collapse" data-parent="#callout-group" data-target="#callout-content-1">
              <h1>&raquo;&nbsp;How we champion reliable & verifiable elections</h1>
            </a>
            <div id="callout-content-1" class="callout-content collapse">
              <div class="callout-content-padder">
                <h2>Example Subtitle for callout with a thumbnail</h2>
                <a class="thumbnail pull-left" href="#">
                  <img src="http://placehold.it/260x180" alt="">
                </a>
                <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
                <p>Irony ethical brooklyn, williamsburg readymade dolor ut food truck brunch mustache. Shoreditch cardigan sed incididunt exercitation, you probably haven't heard of them scenester PBR eiusmod nesciunt. Banksy laborum duis, cred ullamco sint carles mustache lo-fi mlkshk irony nulla. Twee brunch assumenda whatever stumptown, ad tattooed sed 3 wolf moon iphone nesciunt. Twee american apparel etsy DIY voluptate keffiyeh, banh mi minim nostrud. Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
                <div class="callout-options">
                  <a class="read-more">read more &raquo;</a>
                </div>
              </div>
            </div>
          </div>
          <div class="callout">
            <a class="callout-title" data-toggle="collapse" data-parent="#callout-group" data-target="#callout-content-2">
              <h1>&raquo;&nbsp;Learn how your vote is counted</h1>
            </a>
            <div id="callout-content-2" class="callout-content collapse">
              <div class="callout-content-padder">
                <a class="thumbnail pull-left" href="#">
                    <img alt="" src="http://placehold.it/260x180">
                </a>
                <p>
                  High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.
                </p>
                <div class="callout-options">
                  <a class="read-more">read more &raquo;</a>
                </div>
              </div>
            </div>
          </div>
          <div class="callout">
            <a class="callout-title" data-toggle="collapse" data-parent="#callout-group" data-target="#callout-content-3">
              <h1>&raquo;&nbsp;How to protect your vote</h1>
            </a>
            <div id="callout-content-3" class="callout-content collapse">
              <div class="callout-content-padder">
                <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
                <p>Irony ethical brooklyn, williamsburg readymade dolor ut food truck brunch mustache. Shoreditch cardigan sed incididunt exercitation, you probably haven't heard of them scenester PBR eiusmod nesciunt. Banksy laborum duis, cred ullamco sint carles mustache lo-fi mlkshk irony nulla. Twee brunch assumenda whatever stumptown, ad tattooed sed 3 wolf moon iphone nesciunt. Twee american apparel etsy DIY voluptate keffiyeh, banh mi minim nostrud. Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
                <div class="callout-options">
                  <a class="read-more">read more &raquo;</a>
                </div>
              </div>
            </div>
          </div>
          <div class="callout">
            <a class="callout-title" data-toggle="collapse" data-parent="#callout-group" data-target="#callout-content-4">
              <h1>&raquo;&nbsp;Stay informed about voting in the US and around the world</h1>
            </a>
            <div id="callout-content-4" class="callout-content collapse">
              <div class="callout-content-padder">
                <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
                <p>Irony ethical brooklyn, williamsburg readymade dolor ut food truck brunch mustache. Shoreditch cardigan sed incididunt exercitation, you probably haven't heard of them scenester PBR eiusmod nesciunt. Banksy laborum duis, cred ullamco sint carles mustache lo-fi mlkshk irony nulla. Twee brunch assumenda whatever stumptown, ad tattooed sed 3 wolf moon iphone nesciunt. Twee american apparel etsy DIY voluptate keffiyeh, banh mi minim nostrud. Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
                <div class="callout-options">
                  <a class="read-more">read more &raquo;</a>
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <div id="homepage-sidebar" class="span3">

    <div class="row">
      <div class="span3">
        <form id="email-signup" class="well form-inline">
          <label for="email">Signup for Email Alerts</label>
          <input id="email" name="email" class="span2" type="text" placeholder="Email Address">
          <button class="btn" type="submit"><i class="icon-envelope"></i></button>
       </form>
      </div>
    </div>

    <h2><a href="http://thevotingnews.com/">The Voting News</a></h2>

    <div class="row">
      <div class="span3">
        <div class="title">
          <h3><a href="base-css.html">Example blog title</a></h3>
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <ul class="unstyled blog-list">
          <li>
            <div class="date">
              <span class="month">Jan</span>
              <span class="day">31</span>
              <span class="year">2012</span>
            </div>
            <div class="title">
              <h4><a href="base-css.html">Irony ethical brooklyn, williamsburg readymade dolor.</a></h4>
            </div>
          </li>
          <li>
            <div class="date">
              <span class="month">Jan</span>
              <span class="day">31</span>
              <span class="year">2012</span>
            </div>
            <div class="title">
              <h4><a href="base-css.html">Shoreditch cardigan sed incididunt exercitation, you probably haven't heard of them scenester.</a></h4>
            </div>
          </li>
        </ul>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

    <hr>

    <h2><a href="http://thevotingnews.com/">Verified Voting Blog</a></h2>

    <div class="row">
      <div class="span3">
        <div class="title">
          <h3><a href="base-css.html">Example blog title</a></h3>
          <div class="date">
            <span class="month">Jan</span>
            <span class="day">31</span>
            <span class="year">2012</span>
          </div>
        </div>
        <p>Aliqua minim american apparel readymade voluptate laboris. Laborum tofu ut adipisicing, 8-bit cardigan lo-fi wolf pariatur enim.</p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <ul class="unstyled blog-list">
          <li>
            <div class="date">
              <span class="month">Jan</span>
              <span class="day">31</span>
              <span class="year">2012</span>
            </div>
            <div class="title">
              <h4><a href="base-css.html">Irony ethical brooklyn, williamsburg readymade dolor.</a></h4>
            </div>
          </li>
          <li>
            <div class="date">
              <span class="month">Jan</span>
              <span class="day">31</span>
              <span class="year">2012</span>
            </div>
            <div class="title">
              <h4><a href="base-css.html">Shoreditch cardigan sed incididunt exercitation, you probably haven't heard of them scenester.</a></h4>
            </div>
          </li>
        </ul>
        <a class="read-more pull-right">read more »</a>
      </div>
    </div>

  </div>

</div>