
<div class="row">  
  <div class="span3">
    <header id="article-intro">
      <h1 class="title">Search</h1>
    </header>
  </div>
  <div class="span4">
    <h1 class="title">
      <input value="internet voting" name="keywords" placeholder="Search" id="email-signup" class="span4 search-query" type="text">
    </h1>
  </div>
  <div class="span1 full-only">
    <h1 class="title">
      <button class="btn full-only" type="submit">Go</button>
    </h1>
  </div>
</div>

<div class="row">
  <div class="alert alert-info alert-clear">
    <div class="span9">
      <strong>Searching by:</strong>
      California, Legislation, Audio Files
    </div>
    <div class="span3">
      <strong>
        Page 1 of 5, showing results 1 -10 of 47
      </strong>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="row">

  <div class="span3">
    <div class="row">
      <div class="span3">
        <ul class="nav">
          <li><select class=""><option value="">State</option></select></li>
          <li><select class=""><option value="">Topic</option></select></li>
          <li><select class=""><option value="">Media Type</option></select></li>
          <li><select class=""><option value="">Source Type</option></select></li>
          <li><select class=""><option value="">Level</option></select></li>
          <li><select class=""><option value="">Web Site</option></select></li>
        </ul>
      </div>
    </div>
    <div class="row mobile-only">
      <div class="span1">
        <button class="btn" type="submit">Go</button>
      </div>
    </div>
  </div>




<div class="span9">
  <div class="row">
    <div class="span9">
      <div class="pull-center">
        <ul class="inline">
          <li class="disabled"><a href="#">first</a></li>
          <li class="disabled"><a href="#">«</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
          <li><a href="#">last</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>

 <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span9">
      <h3>Example Title for callout without a thumbnail</h3>
      <div class="article-metadata">
        <span class="date">
          08/10/2012
        </span>
        <span class="divider">,</span>
        <span class="name"><a>Author Name</a></span>
        <span class="divider">,</span>
        <span class="organization"><a>Organization</a></span>
      </div>
      <p>High life seitan leggings hoodie, brunch next level vice before they sold out gentrify trust fund ea. Velit elit eu, tofu organic excepteur vice stumptown artisan messenger bag iphone. Ethical excepteur id, williamsburg wes anderson irure wayfarers iphone single-origin coffee accusamus fugiat brooklyn duis et nihil. Trust fund mustache cardigan, PBR food truck lo-fi veniam adipisicing leggings cillum tofu placeat nulla. Aliqua +1 8-bit, sustainable leggings veniam mollit sunt elit dreamcatcher tattooed. Et DIY thundercats, vinyl sustainable mustache american apparel VHS anim in tattooed portland locavore sapiente. Culpa trust fund exercitation, fanny pack officia synth raw denim velit sapiente scenester helvetica marfa cosby sweater dolor thundercats.</p>
      <div class="callout-options pull-right">
        <a class="read-more">read more &raquo;</a>
      </div>
    </div>
  </div>

  <hr class="search-divider">

  <div class="row">
    <div class="span9">
      <div class="pull-center">
        <ul class="inline">
          <li class="disabled"><a href="#">first</a></li>
          <li class="disabled"><a href="#">«</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>