<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Verified Voting Mockup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le styles -->
    <link href="/css/styles_v2.css" rel="stylesheet">

    <!-- less compiler
    <script src="/js/less.js" type="text/javascript"></script>
     -->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">


  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="row">
            <div class="span3">
              &nbsp;
              <a class="brand" href="/index.html">
                <i id="logo" class="icon-ok icon-white"></i>Verified Voting
              </a>
            </div>
            <div class="span9">
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="">
                    <a href="./search.html">Search</a>
                  </li>
                  <li class="">
                    <a href="./base-css.html">News</a>
                  </li>
                  <li class="">
                    <a href="./verifier.html">Verifier</a>
                  </li>
                  <li class="">
                    <a href="./base-css.html">Blog</a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                        href="#">
                        About
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="">
                        <a href="./base-css.html">Our Mission</a>
                      </li>
                      <li class="">
                        <a href="./base-css.html">Staff</a>
                      </li>
                      <li class="">
                        <a href="./base-css.html">Board</a>
                      </li>
                      <li class="">
                        <a href="./base-css.html">Contact Us</a>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                        href="#">
                        Press/Media
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="">
                        <a href="./base-css.html">Press Contacts</a>
                      </li>
                      <li class="">
                        <a href="./base-css.html">Press Releases</a>
                      </li>
                      <li class="">
                        <a href="./base-css.html">In the News</a>
                      </li>
                      <li class="">
                        <a href="./base-css.html">Contact Us</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                
                <form id="search-form" 
                      class="pull-right form-search full-only" 
                      action="/search.html" 
                      method="get" >
                  <input name="keywords" placeholder="Search" id="email-signup" class="input-medium search-query" type="text">
                  <button class="btn" type="submit">Go</button>
                </form>

                <div id="action-items" class="pull-right full-only">
                  <div class="btn-group">
                    <a class="btn" href="#">Donate</a>
                    <a class="btn" href="#">Take Action</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="main" class="container">
      {{>body}}
    </div>        


     <!-- Footer
      ================================================== -->
    
      <footer class="footer">
        <hr>
        <div class="container">
          <div class="row">
            <div class="span12">
              <div align="center" class="footerText">
                <div id="footer-nav">
                  <ul class="nav nav-pills">
                    <li class="">
                      <a href="./base-css.html">Search</a>
                    </li>
                    <li class="">
                      <a href="./base-css.html">News</a>
                    </li>
                    <li class="">
                      <a href="./base-css.html">Verifier</a>
                    </li>
                    <li class="">
                      <a href="./base-css.html">Blog</a>
                    </li>
                    <li class="">
                      <a href="./base-css.html">About</a>
                    </li>
                    <li class="">
                      <a href="./base-css.html">Press/Media</a>
                    </li>
                    <li class="">
                      <a href="./base-css.html">Take Action</a>
                    </li>
                    <li class="">
                      <a href="./base-css.html">Donate</a>
                    </li>
                    <li class="">
                      <a href="./base-css.html">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <p>
                  VerifiedVoting.org, is a 501(c)(4) lobbying organization.  VerifiedVoting.org engages in lobbying activities permitted by IRS Section 501(c)(4).  Please visit <a href="http://www.verifiedvotingfoundation.org">VerifiedVotingFoundation.org</a> for info about 501(c)(3) educational activities.  You can also visit <a href="http://votetrustusa.org/">Vote Trust USA</a>, a project of the Verified Voting Foundation.
                </p>
                <p>
                  © Copyright 2010, Verified Voting Foundation, Inc. All rights reserved, although reprint permission granted for nonprofit purposes with attribution to Verified Voting Foundation, Inc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/js/application.js"></script>
  </body>
</html>
